.container {
    margin-top: 30px;
}



.table-bordered th {
    padding: 20px 0;
    font-size: 18px;
    background: #dbdddd;
}

h1 {
    text-align: center;
    color: white;
}

header {
    background-color: #7a7a7a;
    height: 8em;
    background-size: cover;
}

main {
    flex: auto;
    max-width: 80%;
    margin: auto;
}

footer {
    text-align: right;
    font-size: 3ch;
}

/* TABLE */
table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    background: #7a7a7a;
    color: #fcfcfc;
  }
  tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background: #dcdcdc;
  }